  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/dashboard">My Listing</a></li>
    <li class="divider"></li>
    <li><a href="/logout" class="authnav">Sign out</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Inchi</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/items">Item Market</a></li>
        <li><a href="/apartments">Apartment Info</a></li>
        <li><a href="/classfieds">Classfied</a></li>
        <%if !user_signed_in?%>
        <li><a href="/login" class="authnav">Log in</a></li>
        <li><a href="/signup" class="authnav">Sign up</a></li>
        <% end %>
        <%if user_signed_in?%>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= current_user.firstname %><i class="material-icons right">arrow_drop_down</i></a></li>
        <% end %>
      </ul>
    </div>
  </nav>
<div class="header">
	<div class="background"></div>
<!-- 	<div id="opcover"></div> -->

	<div class="introcontents">
		<h1>Welcome to Inchi</h1>
		<h3>An information factory for international students in Chicago</h3>
	</div>
</div>
<br/>
<div class="container">
		<div class="row">
			<div class="wrapper">
		        <div class="col s12 m4">
		          <div class="card medium">
		            <div class="card-image">
		              <a href="/items">
		              <div class="img-wrapper">
		              <%= image_tag("/assets/item.jpg", class: "navimg") %>
		              <span class="card-title">Item Market</span>
		              </div>
		              </a>
		            </div>
		            <div class="card-content">
		              <p>A place for you to buy and sell used items.</p>
		            </div>
		            <div class="card-action">
		              <a href="/apartments">View Item Listing</a>
		            </div>
		          </div>
		        </div>
		        <div class="col s12 m4">
		          <div class="card medium">
		            <div class="card-image">
		              <a href="/apartments">
		              <div class="img-wrapper">
		              <%= image_tag("/assets/apartment.jpg", class: "navimg") %>
		              </div>
		              <span class="card-title">Apartment Subleasing</span>
		              </a>
		            </div>
		            <div class="card-content">
		              <p>Looking for roomate, subleasing, all apartments info in Chicago.</p>
		            </div>
		            <div class="card-action">
		              <a href="#">View Apartment Info</a>
		            </div>
		          </div>
		        </div>
		        <div class="col s12 m4">
		          <div class="card medium">
		            <div class="card-image">
		              <a href="/classfieds">
		              <div class="img-wrapper">
		              <%= image_tag("/assets/classified.jpg", class: "navimg") %>
		              </div>
		              <span class="card-title">Classified</span>
		              </a>
		            </div>
		            <div class="card-content">
		              <p>If you are looking for friends to hangout or help on anything, post a request here.</p>
		            </div>
		            <div class="card-action">
		              <a href="#">View Classfied</a>
		            </div>
		          </div>
		        </div>
			</div>
		</div>
</div>