<div class="header">
	<div class="background"></div>
	<div id="opcover"></div>
	<div class="nav">
		<div class="login-nav">
			<div class="nav-wrapper"><a href="/login">Login</a></div>
			<div><a href="/signup">Sign up</a></div>
		</div>
	</div>
	<div class="introcontents">
		<h1>Welcome to Inchi</h1>
		<h3>An information factory for international students in Chicago</h3>
	</div>
</div>
<div class="container">
		<div class="row">
			<div class="wrapper">
				<div class="col-md-4 test">
					<div class="img-wrapper">
					<a href="/items">
					<%= image_tag("/assets/item.jpg", class: "navimg") %>
					<h3>Item Market</h3>
					</div>
					</a>
				</div>
				<div class="col-md-4 test">
					<div class="img-wrapper">
					<%= image_tag("/assets/apartment.jpg", class: "navimg") %>
					<h3>Apartment Subleasing</h3>
					</div>
				</div>
				<div class="col-md-4 test">
					<div class="img-wrapper">
					<%= image_tag("/assets/classified.jpg", class: "navimg") %>
					<h3>Classified</h3>
					</div>
				</div>
			</div>
		</div>
</div>