# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bea87a03482f5211a6b0938f3406bbf902350cf2a29985f055a3f992d7fa858be8a36d90b7ebe5090ff7cc9d28820dd686c67ea6a553607b31fb80c6d3cf1346

test:
  secret_key_base: f1bd2eb76092ecc721bcffb665acb2d825f59158971be97d292a5edcb99a6d1eec0fdbeb02d5b792d9f46b5c76576d89ae5c9d8fbfaa5207ceb091cc91570157

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
