// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$themecolor:#F36D6D;

.dashone{
	margin-bottom: 10px;
	border: 1px solid #F1EFEF;
}

.dashtwo{
	height: 150px;
	border: 1px solid #F1EFEF;
	text-align: center;
	transition: 0.3s ease-in-out;
	a:hover{
		text-decoration: none;
	}
	h5{
		color:#7A7A7A
	}
}

.dashfour{
	height:300px;
}

.dashthree{
	height:400px;
	margin-bottom: 10px;
}

.recent-title{
    padding: 9px;
    font-size: 20px;
    border-bottom: 1px solid #E7E3E3;
}

.recent-post{
	margin: 2px 0;
    box-shadow: 2px 1px 2px 0px;
    padding: 16px !important;
	p{
		margin-bottom: 0px;
		&:nth-child(2){
			color:#74B5FF;
		}
	}
}

.dashtwo:hover{
/*	opacity: 0.7;*/
	background:$themecolor;
	i,h5{
		color:white;
	}
}


.dash-inner{
	padding: 20px;
}

.profile-wrapper{
	padding:30px;
}

.dash-icon{
    width: 50px;
    display: block !important;
    margin: 25px auto;
    font-size: 50px !important;
    color:$themecolor;
}
