// Place all the styles related to the lots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lotsect{
	background-color: #fbfbfb;
}

.section-nav{
	overflow: auto;
	background: #F36D6D;
	height: 50px;
	h2{
		margin-top:10px;
		margin-bottom:10px;
		margin-left:10px;
		color: white;
		float: left;
	};
}

.lots_nav{
	margin-right: 100px;
	height: 100%;
	width: 544px;
	float: right;
	a{
	    font-size: 21px;
	    display: inline-block;
	    padding: 8px 10px;
	    color: white;
	    border-left: 5px solid #F36D6D;
	}
	span{
		font-size: 18px;
		color: white;
	}
	a:hover{
		border-left: 5px solid white;
		color: white;
		text-decoration: none;
		-webkit-transition: .4s ease-in-out;
		transition: .4s ease-in-out;
	}
}

.mainnav{
	float: left;
}

.loginnav{
	float: right;
    padding: 3px 3px;
}

.loginnav .authnav{
	font-size:18px;
}

.onelot{
	height: 400px;
    margin-bottom: 20px;
	i{
    	line-height: 33px;
	}
}

.contentwrapper{
	background: #fff;
	height: 100%;
}

.deswrapper{
	padding: 8px 15px;
}

.imgwrapper{
	width: 100%;
	margin:0 auto;
	height:300px;
	overflow: hidden;
}

.lotlink a{
	font-size:20px;
	color: #7C7B7B;
}
.lotlink a:hover{
	text-decoration: none;
	color: #4D4D4D;
}



.imgwrapper img{
	width:100%;
}

.lotsection{
	background: #fbfbfb;
}

.intro{
	background: #fff;
	min-height: 270px;
}
.introcontent{
	width: 60%;
	margin:0 auto;
	height: 100%;
}

.lotdetail{
	margin:0 auto;
	width: 60%;
	height: 600px;
}

.detail-icon{
	background: #fff;
	height: 106px;
	text-align: center;
	div{
		display: block;
    	width: 55px;
	    margin: 0px auto;
	    font-size: 55px;
	    padding-top: 5px;
	}
}

.lotimg{
	height: 200px;
	overflow: hidden;
	margin-bottom: 5px;
}
