// Place all the styles related to the testlots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.section-nav{
	overflow: auto;
	background: #F36D6D;
	h2{
		margin-top:10px;
		margin-bottom:10px;
		text-align: center;
		color: white;
	}
}